<h1>Hi! Please confirm your email!</h1>

<p>
    Vous souhaitez reset votre mot de passe , suivez le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Reset mon mot de passe</a>.
    Le lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    MyCodeur !
</p>
